*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/*reset*/

:root {
    --ff-sans-serif: sans-serif;
    --ff-serif: serif;

    --fw-n: 300;
    --fw-m: 600;
    --fw-b: 800;

    --light-grey: #8080803b;
    --black: #000;
    --black-opaque: rgb(0,0,0,0.5);
}

h1,h2,h3,h4 {
    font-weight: var(--fw-b);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem!important;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem
}

.bg-grey {
    background-color: #5c5a5a;
}

h1,h2,h3,h4,h5 {
    font-family: Playfair Display,serif,-apple-system;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 32px;
}

.page-btn {
    padding: .85rem;
    background-color: #212529;
    border: 2px solid #212529;
    transition: 300ms ease-in-out;
    color: #fff;
}

.page-btn:hover {
    background-color: #fff !important;
    color: #212529;
}
/*nav*/
nav {
    background-color: var(--light-grey);
    padding: 2rem!important;
}

nav .navbar-toggler {
    z-index: 21;
    border: 0;
    box-shadow: none!important;
}

.navbar-toggler {
    --button-color: #212529;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.navbar-toggler .hamburger {
    transition: translate 1s, rotate 1s;
}

.navbar-toggler[aria-expanded="true"] .hamburger {
    translate: 3px 0px;
    rotate: 0.125turn;
    --button-color: #fff;
}

.navbar-toggler .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.navbar-toggler[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}
/*navbar toggler*/

.section-spacer {
    height: 160px;
}


#mainNav .navbar-nav {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Playfair Display,serif,-apple-system;
}

#mainNav .navbar-nav li a.nav-link{
    color: #fff!important;
}

.navbar-brand img {
    width: 164.95px;
}

#mainNav {
    position: fixed;
    background: #212529;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s,visibility .35s,height .35s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainNav.show {
    opacity: .97;
    visibility: visible;
    height: 100%;
    z-index: 20;
}

/*sticky*/
.sticky-top {
    transition: all 0.10s ease-in;
}

/* style for when sitcky is applied */
.stuck.navbar.sticky-top {
    background-color: #fff !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.4);
}

/**override*/
.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--bs-accordion-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 transparent;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0,0,0, 0);
}

/*atfSection*/
.atfSection {
    background-color: var(--light-grey);
}

.atfSection img {
    max-width: 336px;
    width: 100%;
}

/*logoSection*/
.logoSection img {
    filter: grayscale(100%);
    transition: 300ms ease-in-out;
}

.logoSection img:hover {
    filter:grayscale(0%);
}

/*testimonialSection*/
.testimonialSection {
    background-color: var(--light-grey);
}

.testimonialSection .card {
    margin-bottom: 1.5rem;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    box-shadow: 0px 1px 25px 5px transparent;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    color: var(--black);
    transition: 200ms ease-in-out
}

.testimonialSection .card img {
    filter: grayscale(100%);
    transition: 200ms ease-in-out;
}

.testimonialSection .card:hover {
    background-color: #fff;
    box-shadow: 0px 1px 25px 5px var(--black-opaque);
    border-color: var(--light-grey);
}

.testimonialSection .card:hover img {
    filter: grayscale(0%);
}

.testimonialSection .card .card-img-top {
    width: 100%;
    max-width: 150px;
    margin-inline: auto;
}

/*fbSection*/
.fbSection i {
    font-size: 3rem;
}

.fb-text-container {
    width: 70%;
    margin-inline: auto;
  }

/*processSection*/
.processSection {
    background-color: var(--light-grey);
}

/*footer*/
footer {
    background-color: var(--light-grey);
}